<launch>
    <!-- wheel encoder -->
    <node
        name="drive_wheel_encoder"
        pkg="navigation" 
        type="drive_wheel_encoder" 
        output="screen">
    </node>
    
    <!-- i2c for wheel -->
    <node
        name="i2c_for_motor"
        pkg="navigation" 
        type="i2c_for_motor" 
        output="screen">
    </node>
</launch>
