<launch>

	<!-- camera -->
	<include file="$(find camera)/launch/camera.launch" />

	<!-- Vision Based Localisation -->
	<node 
		pkg             = "localisation"
		type            = "vision_based_localisation.py"
		name            = "vision_based_localisation"
		output          = "screen"
		required        = "true">

		<param name     = "verbosity" value = "1" />
	</node>


</launch>
