<launch>

	<!-- pure_pursuit_tracker -->
	<node 
		pkg             = "controller"
		type            = "pure_pursuit_tracker.py"
		name            = "pure_pursuit_tracker"
		output          = "screen"
		required        = "true">

		<param name     = "verbosity" value = "1" />
		<param name     = "save_data" value = "1" />
		<param name     = "simulate" value = "0" />
	</node>

	<!-- <node 
		pkg             = "controller"
		type            = "simple_motion_controller.py"
		name            = "simple_motion_controller"
		output          = "screen"
		required        = "true">

		<param name     = "verbosity" value = "1" />
		<param name     = "save_data" value = "1" />
		<param name     = "simulate" value = "0" />
	</node> -->

</launch>
